/* General Page Layout */
.loginPage {
  display: flex;
  height: 100vh;
  font-family: "Arial", sans-serif;
  background-color: #f5f7fa;
  margin: 0;
}

/* Left Section */
.leftSection {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoOverlay {
  margin-bottom: 20px;
}

.backgroundImage {
  width: 100%;
  max-width: 400px;
}

/* Right Section */
.rightSection {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d1e5f4;
  padding: 20px;
}

/* Form Container */
.formContainer {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.welcomeText {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
  text-align: left;
}

.appName {
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 20px 0;
  color: #000e40;
  text-align: left;
}

.socialBtn {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.googleBtn {
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ddd;
}

.facebookBtn {
  background-color: #3b5998;
  color: white;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider span {
  background-color: white;
  padding: 0 10px;
  color: #666;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ddd;
}

/* Input Boxes */
.inputBox {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: aliceblue;
  color: #000;
}

/* Options and Login Button */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 20px;
  color: #000;
}

.forgotPassword {
  text-decoration: none;
  color: #0078ff;
}

.loginBtn {
  width: 100%;
  padding: 12px;
  background-color: #000e40;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

/* Register Link */
.registerLink {
  font-size: 14px;
  color: #666;
}

.registerLink a {
  color: #0078ff;
  text-decoration: none;
}

.errorMessage {
  color: red;
  font-size: 14px; 
  margin-top: 5px; 
}

.passwordContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.passwordToggleBtn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

