@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.main {
  font-family: "Montserrat", serif;
  z-index: -1;
  height: auto;
  width: 100%;
  color: black;
}
.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: left;
  padding: 0px 20px 0px 20px;
  align-items: center;
  height: 100px;
}
.navigation #pageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #000f22;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.09);
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background-color: #ffffff;
}
.navigation .welcomeBar {
  display: flex;
  padding-left: 20px;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(to right, #040829, #48afc9);
}
.navigation .searchBar {
  display: flex;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  gap: 20px;
  width: 30%;
  height: 45%;
  color: black;
  border-radius: 50px;
  background-color: #d1e5f4;
}
.navigation .searchBar > :last-child {
  margin-left: auto;
}

.contentContainer {
  float: right;
  width: 84%;
  height: 100vh;
  color: white;
}
.sideBar {
  position: fixed;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0%;
  gap: 50px;
  padding-top: 20px;
  background-color: #ffffff;
  width: 15%;
  color: black;
  float: left;
  height: 100vh;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.sideBar ul {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  gap: 5px;
}
.sideBar li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 15px;
  font-size: 15px;
  width: 100%;
  height: 20%;
  /* border-bottom: 1px solid rgb(214, 214, 214); */
}
#contentSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: 100vh;
}
#contentContainer1,
#contentContainer2 {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#contentContainer1 {
  flex-direction: row;
  height: 70vh;
}
#contentContainer2 {
  flex-direction: column;
  height: 90vh;
  border-radius: 20px;
  background-color: #ffffff;
}
#topGraded,
#profiles,
#results {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  width: 32%;
  gap: 10px;
  height: 100%;
  border-radius: 5px;
  background-color: #e3f3ff;
}
#topGraded > :first-child,
#profiles > :first-child,
#results > :first-child {
  color: black;
  font-weight: 500;
  font-size: 15px;
  height: 30px;
}
#topGradedContainer,
#profilesContainer,
#resultsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  gap: 20px;
  padding: 10px 20px 10px 20px;
  width: 100%;
  min-height: 80px;
  background-color: #000f22;
}
#topGradedContainer > :last-child,
#profilesContainer > :last-child,
#resultsContainer > :last-child {
  margin-left: auto;
}
#mockExams,
#jobListing {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  color: black;
}
#mockExamscontainerHeader,
#jobListingcontainerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  text-align: left;
  font-size: 20px;
  width: 100%;
  height: 100px;
}
.mockExamscontainerSection,
.jobListingcontainerSection {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: #103842; */
}

#mockExamscontainer,
#jobListingcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  height: 300px;
  background-color: #e3f3ff;
}
/* .sideBar li:hover,
#topGradedContainer:hover,
#profilesContainer:hover,
#resultsContainer:hover,
#mockExamscontainer:hover,
#jobListingcontainer:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
} */

.mockExam {
  width: 100%;
  height: 100%;
  color: #000f22;
}
#mockExamHeading {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 30px;
  font-size: 20px;
  text-align: center;
}
#emptyMockExamSection,
#mockExamSection {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
#emptyMockExamSection {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mockExamSectionBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #d1e5f4;
  gap: 20px;
}
#mockExamSectionBlock header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#mockExamSectionQuestion,
#mockExamSectionAnswer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 50px;
}
#mockExamSectionAnswer input[type="checkbox"] {
  width: 10%;
  height: 50%;
}
#mockExamSectionAnswer input[type="text"] {
  width: 90%;
  height: 100%;
}
#mockExamscontainerButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.mockExamscontainerSection button {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50px;
}
#mockExamSectionSaveandClose {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#jobPostSkill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  /* background-color: #48afc9; */
}
#jobPostSkillLabel {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  /* background-color: #48afc9; */
}

#companyProfile {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: #000f22;
  width: 100%;
  height: 100%;
}
#profileCard {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 100%;
  gap: 20px;
}
#profileForm {
  display: flex;
  flex-direction: column;
}
#dashboardDisplayContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 10px;
  overflow: auto;
}
#profileCard h1 {
  font-size: 50px;
}
#profileCard h3, #profileCard h4 {
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  background-color: #d1e5f4;
}
