@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.main {
  margin: 0 auto;
  font-family: "Montserrat", serif;
  z-index: -1;
  height: auto;
  width: 100%;
  color: black;
}
.navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  justify-content: left;
  padding: 0px 20px 0px 20px;
  align-items: center;
  height: 100px;
}
.navigation #pageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  color: #000f22;
  box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.09);
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background-color: #ffffff;
}
.navigation .welcomeBar {
  display: flex;
  padding-left: 20px;
  flex-direction: row;
  align-items: center;
  width: 60%;
  height: 60px;
  border-radius: 10px;
  background: linear-gradient(to right, #040829, #48afc9);
}
.navigation .searchBar {
  display: flex;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  gap: 20px;
  width: 30%;
  height: 45%;
  color: black;
  border-radius: 50px;
  background-color: #d1e5f4;
}
.navigation .searchBar > :last-child {
  margin-left: auto;
}

.contentContainer {
  float: right;
  width: 80%;
  min-height: 100vh;
  color: white;
}
/* .sideBar {
  position: fixed;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0%;
  gap: 50px;
  padding-top: 20px;
  background-color: #ffffff;
  width: 15%;
  color: black;
  float: left;
  height: 100vh;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
} */

.sideBar ul {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  gap: 5px;
}
.sideBar li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
  gap: 15px;
  font-size: 15px;
  width: 100%;
  height: 20%;
  /* border-bottom: 1px solid rgb(214, 214, 214); */
}
#contentSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: 100vh;
}
#contentContainer1,
#contentContainer2 {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#contentContainer1 {
  flex-direction: row;
  height: auto;
}
#contentContainer2 {
  flex-direction: column;
  min-height: 90vh;
  border-radius: 20px 20px 0px 0px;
  background-color: #ffffff;
}
#topGraded,
#profiles,
#results {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  width: 32%;
  gap: 10px;
  height: 70vh;
  border-radius: 5px;
  background-color: #e3f3ff;
}
#topGraded > :first-child,
#profiles > :first-child,
#results > :first-child {
  color: black;
  font-weight: 500;
  font-size: 15px;
  height: 30px;
}
#topGradedContainer,
#profilesContainer,
#resultsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  font-size: 15px;
  gap: 20px;
  padding: 10px 20px 10px 20px;
  width: 100%;
  min-height: 80px;
  background-color: #000f22;
}
#topGradedContainer > :last-child,
#profilesContainer > :last-child,
#resultsContainer > :last-child {
  margin-left: auto;
}
.profileImage {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}
#mockExams,
#testListing,
#jobListing {
  display: flex;
  padding: 20px;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  color: black;
}
#mockExamscontainerHeader,
#testListingHeader,
#jobListingcontainerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  text-align: left;
  font-size: 20px;
  width: 100%;
  min-height: 100px;
}
.mockExamscontainerSection,
.testListingSection,
.jobListingcontainerSection {
  width: fit-content;
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#mockExamscontainer,
#testListingcontainer,
#jobListingcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  height: 300px;
  /* flex-grow: 1; */
  background-color: #e3f3ff;
}
/* .sideBar li:hover,
#topGradedContainer:hover,
#profilesContainer:hover,
#resultsContainer:hover,
#mockExamscontainer:hover,
#jobListingcontainer:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
} */

.mockExam,
.JobContent {
  width: 100%;
  height: 100%;
  color: #000f22;
}

#TestContentHeading,
#JobContentHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 50px;
  gap: 30px;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
#jobContentSection,
#mockExamSection {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}
#addRequestContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #ecfcff;
}
#mockExamSectionBlock,
#jobContentSectionBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #ecfcff;
  gap: 30px;
}
#mockExamSectionBlock header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#mockExamSectionQuestion,
#jobContentSectionTitle,
#mockExamSectionAnswer,
#jobContentSectionJobType,
#jobContentSectionRequiredSkills {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 20px;
}
#mockExamSectionAnswer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 20px;
}
#jobContentSectionDescription textarea {
  resize: none;
}
#mockExamSectionAnswer input[type="checkbox"] {
  width: 50px;
  height: 25px;
}
#jobContentSectionTitle input[type="text"],
#mockExamSectionAnswer input[type="text"],
#mockExamSectionQuestion,
#jobContentSectionJobType input[type="text"] {
  width: 100%;
  height: 50px;
  padding: 5px;
  outline: none;
  border: 2px solid #d1e5f4;
}
#jobContentSectionRequiredSkills input[type="text"] {
  width: 70%;
  height: 50px;
  padding: 5px;
  outline: none;
  border: 2px solid #d1e5f4;
}
#jobContentSectionDescription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: auto;
  text-align: justify;
}
#jobContentSectionDescription textarea {
  outline: none;
  border: 2px solid #d1e5f4;
  padding: 5px;
}
#jobContentSectionTitle h2,
#mockExamSectionAnswer h2,
#jobContentSectionJobType h2,
#jobContentSectionDescription h2 {
  width: 100%;
  height: 100%;
}
#jobContentSectionRequiredSkills header {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}
#jobContentSectionRequiredSkills form button {
  display: flex;
  width: 110px;
  height: fit-content;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
  font-size: 12px;
  border-radius: 50px;
  background-color: #d1e5f4;
}
#jobContentSectionRequiredSkills form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
#mockExamscontainerButtons,
#testListingButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.mockExamscontainerSection button,
.testListingSection button {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 50px;
}
#mockExamSectionSaveandClose,
#jobContentSectionSaveandClose {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#jobPostSkill {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  gap: 20px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  /* background-color: #48afc9; */
}
#jobPostSkillLabel {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 10px;
  gap: 10px;
  font-size: 12px;
  border-radius: 50px;
  background-color: #d1e5f4;
}
#JobContentHeading h3,
#TestContentHeading h3 {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  padding: 10px;
  font-size: 12px;
  color: white;
  gap: 10px;
  border-radius: 10px;
  background-color: #00233c;
}

#companyProfile {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: #000f22;
  width: 100%;
  min-height: 500px;
  height: auto;
  border-radius: 20px;
  background-color: #ecfcff;
}
#companyProfile header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
}
#companyProfile header button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
  font-size: 12px;
  border-radius: 50px;
  margin-left: auto;
  background-color: #d1e5f4;
}

#companyProfile header h1 {
  font-weight: 550;
  font-size: 20px;
  margin-right: auto;
}
#profileCard {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 100%;
  height: 100%;
  gap: 20px;
}
#updateProfileCard {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 100%;
  height: auto;
  gap: 40px;
}
#updateProfileCard header {
  display: flex;
  justify-content: left;
  font-size: 20px;
  font-weight: 550;
}
#profileForm {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#profileForm div {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  row-gap: 50px;
}
#profileForm #companyProfileAbout {
  height: 200px;
}

#profileForm div input,
#profileForm div textarea,
#profileForm div label {
  display: flex;
  flex-direction: row;
  height: 100%;
  outline: none;
  padding: 5px;
}
#profileForm div input,
#profileForm div textarea {
  width: 70%;
  border: 2px solid #d1e5f4;
}

#profileForm div label {
  align-items: center;
  width: 30%;
}
#dashboardDisplayContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 10px;
  overflow: auto;
}
#profileCard h1 {
  font-size: 50px;
}
#profileCard h3,
#profileCard h4 {
  padding: 10px;
  font-size: 12px;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  background-color: #d1e5f4;
}
#companyProfile header button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  gap: 10px;
  font-size: 12px;
  border-radius: 50px;
  background-color: #d1e5f4;
}
#questionContentDisplayArea {
  width: 100%;
  height: 100%;
  /* background-color: #48afc9; */
}
#questionContentArea {
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 10px;
  width: 100%;
  height: 100%;
}
#jobContentSectionBlock h1,
#jobContentSectionBlock h2 {
  font-weight: 600;
}
#mockExamSectionAnswer input[type="checkbox"]:disabled {
  background: blue !important;
  opacity: 1;
  cursor: not-allowed;
}
#mockExamSectionBlock h2,
#mockExamSectionBlock header {
  font-weight: 600;
}

.userProfile,
.userProfileContainer,
.userProfileSection,
.UserProfileTab {
  display: flex;
  color: #000f22;
  height: 100%;
  background-color: #ecfcff;
}
.userProfile {
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  min-height: 500px;
}
.userProfileSection {
  flex-direction: column;
  gap: 50px;
  width: 100%;
  min-height: 500px;
}
.userProfileContainer,
.UserProfileTab {
  flex-direction: column;
  text-align: justify;
  gap: 30px;
  width: 100%;
}
#userProfileHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  font-size: 30px;
}
#userProfileHeading img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
#userProfileContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  height: auto;
}
#userProfileContent input {
  width: 20px;
}
.userProfile header {
  width: 100%;
  height: auto;
}
.userProfile > header > button {
  display: flex;
  margin-left: auto;
}

.JobContent #buttonAddJobContent,
#testListingHeader button,
#TestContentHeading button,
#jobContentSectionSaveandClose button,
#jobListingcontainerHeader button,
#JobContentHeading button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  gap: 15px;
  font-size: 12px;
  border-radius: 50px;
  background-color: #d1e5f4;
}
.UserProfileTab > header > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  width: 40%;
  height: 50px;
  padding: 20px;
  background-color: #d1e5f4;
}
#addTestLevel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 15px;
  padding: 5px;
  width: fit-content;
  height: auto;
  flex-wrap: wrap;
}
#addTestLevel button {
  text-align: center;
  width: fit-content;
  padding: 5px;
  outline: none;
  border: 2px solid #d1e5f4;
}
.UserProfileTab > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  gap: 20px;
  background-color: #c0d6e6;
}

.Notification {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
  border-radius: 20px;
  z-index: 999;
  background-color: #eef5f6;
}

#jobListingHeaderButtonsSection,
#testListingHeaderButtons,
#TestContentHeadingButtons,
#JobContentHeadingTags {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  width: fit-content;
  height: auto;
}
#JobContentHeadingTitleButton,
#TestContentTitleButton {
  display: flex;
  width: 250px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
@media only screen and (max-width: 1190px) {
  #contentContainer1 {
    flex-direction: column;
    gap: 10px;
  }
  #contentContainer2 {
    border-radius: 20px 20px 0px 0px;
  }
  .contentContainer {
    width: 100%;
  }

  #topGraded,
  #profiles,
  #results {
    width: 100%;
    gap: 10px;
    height: auto;
    border-radius: 5px;
    background-color: #e3f3ff;
  }
  #mockExams,
  #testListing,
  #jobListing {
    display: flex;
    padding: 0px;
    gap: 0px;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    color: black;
  }
  .mockExamscontainerSection,
  .testListingSection,
  .jobListingcontainerSection {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  #mockExamscontainer,
  #testListingcontainer,
  #jobListingcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 300px;
    /* flex-grow: 1; */
    background-color: #e3f3ff;
  }
  #TestContentHeading,
  #JobContentHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 30px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 800px) {
  #JobContentHeading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  #profileCard h1 {
    font-size: 30px;
  }
  #profileForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #profileForm div {
    width: 100%;
    height: 100px;
    display: flex;
    row-gap: 0;
    flex-direction: column;
  }
  #profileForm #companyProfileAbout {
    height: 200px;
  }

  #profileForm div input,
  #profileForm div textarea,
  #profileForm div label {
    display: flex;
    flex-direction: column;
    height: auto;
    height: 50%;
    outline: none;
    padding: 5px;
  }
  #profileForm div input,
  #profileForm div textarea {
    width: 100%;
    border: 2px solid #d1e5f4;
  }

  #profileForm div label {
    align-items: flex-start;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #companyProfile header {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  #companyProfile header h1 {
    font-weight: 550;
    font-size: 18px;
    margin-right: auto;
  }
  #companyProfile header button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    gap: 10px;
    font-size: 12px;
    border-radius: 50px;
    margin: 0;
    background-color: #d1e5f4;
  }
  #testListingHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #testListing {
    gap: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .navigation {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 10px;
    align-items: flex-start;
    justify-content: left;
    padding: 20px;
  }
  .navigation .welcomeBar {
    width: 100%;
  }
  .navigation #pageTitle {
    display: none;
  }
  #jobListingHeaderButtonsSection {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  #mockExamscontainerHeader,
  #jobListingcontainerHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #mockExams,
  #jobListing {
    gap: 20px;
  }
}
@media only screen and (max-width: 400px) {
  #profileCard h1 {
    font-size: 25px;
  }
  #profileCard h3,
  #profileCard h4 {
    font-size: 10px;
  }
}
